@model LinkSaver.Models.Link
<div id="@Model.LinkId.ToString()">
    <a asp-action="UnsaveLink" asp-route-Id="@Model.LinkId" data-ajax="true" data-ajax-mode="replace-with"
       data-ajax-update="#content">Unsave</a>
</div>